VITE_BACKEND_URL=https://drawdb.nasrulfahmi.my.id
VITE_COLLABORATION_URL=wss://drawdb-ws.nasrulfahmi.my.id
NGINX_SERVER_NAME=drawdb.nasrulfahmi.my.id
NGINX_WS_SERVER_NAME=drawdb-ws.nasrulfahmi.my.id
NGINX_HTTP_PORT=80
